ScrollPane, .card {
    -fx-padding: 20;
}

.card Label, .card WebView {
    -fx-padding: 0 0 20 0;
}

.card WebView {
    -fx-pref-width: 500;
}

.list-cards {
    -fx-padding: 0 0 20 0;
}

.title {
    -fx-font-size: 14;
    -fx-font-weight: bold;
}